:root {
    --bg: #0f172a;
    --panel: #ffffff;
    --prim:#275dff;
    --accent: #00f2ff;
    --text: #211E42;
    --danger: #f50cbb;
    --warning: #14c8f5;
    --success: #14c8f5;
}
body {
    color: var(--text);
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    }

.drag-container {
    display: flex;
    gap: 2rem;
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 50px;
    }

.drop-zone, .items-bank{
    background: #D1EAEC;
    border-left: 0.3vw solid #484D60;  
    border-right: 0.3vw solid #484D60;  
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1); 
    font-size: 1.5vw;
    }

.drop-zone.hover {
    border: 0.2vw dashed #B02936;
    background: #ADD8D5;
    }

.drop-zone label{

    font-size:1.25vw;
}

.items-bank{
    border-radius: 0.8vw;
    }

.draggable-item {
    background: #83CDDD;
    margin: 2vh 0;
    border-radius: 1.2vh;
    cursor: grab;
    color: #211E42;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.7vh 0.8vw;
    height: auto;
    min-height: 6vh;
    transition: opacity 0.2s;
    }
.draggable-item:active { cursor: grabbing; }
.draggable-item.dragging { opacity: 0.5; }

label { display: block; margin-bottom: 0.5vh; color: #94a3b8; }

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
    }

.actions-bar {
    display: flex;
    gap: 2.5vw;
    margin-top: 0.2vh;
    }

.oculto {
    display: none !important;
    pointer-events: none;
    }

.scroll-area {
    width: 100%;
    height: 55vh; 
    max-height: 55vh; 
    overflow-x: scroll;
    font-size: 2vh;
    }

.list-panel{
    width: 35%;
    float: left;
    height: 80vh;
    }
.panel {
    background: var(--panel-bg);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background: var(--panel);
    padding: 2rem;
    border-radius: 5px;
    border-left: 5px solid #00e1ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 12.5%;
    }

.container{
    width: 100%;
    }

.menudiv{
    height: 10%;
    }

.divsection{
    height:100%;
    width:50%;
    background-color:#69A8A3;
    color: #0F495E;
    border-top-left-radius:0.5vw;
    border-top-right-radius:0.5vw; 
    font-family: sans-serif;
    font-size: 1.5vw;
    -webkit-user-select: none;
    -ms-user-select: none;     
    user-select: none;    
    transition: width 0.2s;     
    }
.divsection-master{ 
    height:4vh;
    display:flex;
    width:  40%;
    transition: width 0.2s;
    }
.divsection:hover{ 
    width:  63%;
    cursor: pointer;
    }
.divsection-master:has(.divsection:hover) {
    width: 45%;
    }
.divsection-selected{
    background-color:#D1EAEC;
    color: #211E42;
    }

.itemsbcm{
    width:85%;
    }
.itemsbcm:has(.itemsbc:hover) {
    width: 90%;
    }
.itemsbc{ 
    width:  25%;
    cursor: pointer;
    }
.itemsbc:hover{ 
    width:  32.8%;
    cursor: pointer;
    }
.previtemselected{
    background-color: #009FE3;
    color: #D1EAEC;
    }

.hover{
    transition: background-color,border,box-shadow,transform 0.2s;
    }
#recicle-bin{
    color:#484D60;
    position:absolute;
    background-color:#D1EAEC;
    border-radius: 0.8vh;
    border: 0.2vw solid #484D60;
    top: 85%;
    left: 47.5%;
    height: 9.5%;
    width: 5%;
    display: flex;
    align-items: center;     /* Centrado vertical */
    justify-content: center;  /* Centrado horizontal */
    text-align: center;
    transition: background-color,border,box-shadow,transform 0.2s;
    box-shadow: 0 0.2vw 5vw rgba(0, 0, 0, 0.3);
    }
#recicle-bin:hover{
    background-color:rgb(255, 247, 247);
    border: 0.2vw solid #E41924;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10 y 11 */
    user-select: none;         /* Estándar (Chrome, Firefox, Edge) */
    }
#recicle-bin.hover{  
    background-color: rgb(255, 221, 221);
    border: 0.2vw dashed #E41924;
    box-shadow: 0 0px 5vw rgba(0, 0, 0, 0.0);
    transform: translateY(0.2vw);
    }

    .item-materia{
        height: 13vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vh;
    }

    .item-seccion{
        height: 2vh;
        width: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-weight: bold;
    }

    .circle-btn {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 1.2vw;
        width: 2vw;
        height: 2vw;
        text-align: center;
        border-radius: 100%;
        border: 0;
        background-color: #B02936;
        color: #FFFFFF; 
        }
    .circle-btn:hover{
        background-color: #E41924;
        }
    .previtem{
        display:grid;
        }

    #EditSectionBtn{
        border-left: 0.3vw solid #484D60;
        }
    
    .form-asignacion{display:flex;}

    .main-wrapper{

        transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);

    }

    .main-wrapper.hidden{

        transform: translateX(120vw);

    }

    .main-wrapper.secciones{

        backdrop-filter: blur(8px);
        background: linear-gradient(180deg, #0F495EC0 0%, #ADD8D5F0 100%);
        z-index: 2000;
        border-left: 0.2vw #0f172a solid;
        overflow: hidden;
    }