.main-container{
    padding: 0;
    }

.profesor-container{
    width:25%;
    padding: 0.5vh 1vh 0.5vh 0.5vh;
    border-right: 0.2vw #A7C4CE solid;
    background-color: #D1EAEC;;
    height: 80.5vh;
    overflow: hidden;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    }

.schedule-container{
    width:75%;
    height: 80.5vh;
    overflow: hidden;
    overflow: none;
    padding: 1vh 1vw;
    }


.scroll-area{
    overflow-y: scroll;
    max-height: 55vh;
    min-height: 55vh;
    width:24vw;
    }

.prof-card {
    padding: 0.75vh 2.25vh;
    border-radius: 5vh;
    margin-bottom: 1vh;
    border: 0.1vh solid transparent;
    width:100%;
    height: 7.25vh;
    font-size: 2.1vh; 
    }
.prof-avatar { 
    width: 4.75vh;
    height: 4.75vh;
    margin-right: 1.5vh;
    }    
.prof-edit-form{
    width:100%;
    }

.infodiv{
    user-select: none;
    color:#6F868E;
    padding: 1vh 1vw;
    text-align: left;
    font-size: 2.5vh;
    }

.schedule{
    justify-self: center;
    background-color:  var(--newpoligono);
    min-height: 80vh;
    max-height: 80vh;
    width: 90%;
    border-radius: 2vh;
    overflow-y: scroll;
    grid-template-rows: auto 1fr;
    }

.schedule-day-div-h{
    min-width: 100%;
    height: 100%;
    background-color:var(--newnucle);
    border: 1px var(--newsecu) solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bolder;
    font-size: 2.8vh;
    user-select: none;
    color:var(--newletras);
    z-index: 10;
}

.schedule-header{
    height: 100%;
    display:grid;
    z-index: 30;
    }

.schedule-config {
    display: flex;
    align-items: stretch; /* Esto obliga a que todas las columnas midan lo mismo */
    min-height: 85vh;
    height: auto; 
    overflow-y: visible; /* Deja que el contenido se desborde para que el scroll actúe */
    background: color-mix(in srgb, var(--newfondo), #00000099);
}
.schedule-day-div {
    display: flex;
    width: 100%;
    /* Eliminamos height: 100% porque bloquea el crecimiento */
    min-height: 100%; 
    border-left: 0.1vh #9A6DA5 dotted;
    border-right: 0.1vh #9A6DA5 dotted;
    flex: 1;
    position: relative;
}

.schedule-div{
    height: 70%;
    transition: height 0.2s;
    }
.schedule-div.open{
    height: 100%;
    }

.schedule-menu{
    height: 30%;
    width: 100%;
    border-top: 2px var(--newprima) solid;
    align-content: center;
    transition: height 0.2s;
    background: var(--newpoligono);
    position: relative;
    z-index: 20;
    }       

.schedule-menu.open{
    height: 0;
    }

.schedule-menu-scroll{

    justify-self: center;
    width: 90%;
    min-height: 90%;
    max-height: 90%;
    background: var(--newfondo);
    border-radius: 2vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
    overflow-y: scroll;
    font-size:32px;

}

.schedule-option {
    grid-template-rows: 4.25vh 2fr;
    display: grid;
    background-color:#83CDDD; 
    width:100%; 
    margin:2% 0;
    border-radius:2.5vh;
    overflow:hidden;
    border: 0.1vh #0F495E solid;
    font-size: 2.5vh;
    color:#0F495E;
    user-select:none;
    transition: transform 0.2s;
    }
.schedule-option-header{
    background-color:#4F2054;
    color:#D1EAEC;
    text-align:left;
    transition: background-color,color 0.2s;    
    }

.schedule-option:hover{
    cursor: pointer;
    transform: translateY(-1vh);
    }
.schedule-option:hover .schedule-option-header{
    background-color:#81BA4E;
    color: #000000;
    }

.schedule-option-body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    }

.schedule-option-days {
    width:100%;
    text-align:left;
    padding-left:2vh;
    align-content:center;
    height:100%;
    border-left: 0.1vh #0F495E dotted;
    }
.schedule-option-otherinfo{
    width:100%;
    text-align:left;
    padding-left:2vh;
    align-content:center;
    height:100%;
    }
    
#openmenubtn{
    background-color:var(--newprima);
    color:var(--letras); 
    width:10%;
    height:4.2vh;
    position:absolute;
    font-size: 4vh;
    display:flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    user-select: none;
    overflow: none;
    transition: width 0.2s;
    z-index: 20;
    }

#openmenubtn:hover{
    cursor: pointer;
    width:14%;
    }

.task-box{
    position: absolute;
    width: 90%;
    left: 5%;
    background-color: var(--newnucle);
    border: 0.125vw solid #000;
    padding: 0.1vw;
    color: var(--newletrascontraste);
    font-size: 0.9vw;
    border-radius: 1vh;
    z-index: 10;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    }

.main-wrapper.schedule-container{
    position:absolute;
    top:0;
    left:0;
    z-index:2000;
    opacity:1;
    display:block;
    transition: opacity 1s, transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    width:65%;
    backdrop-filter: blur(8px);
    }


.main-wrapper.schedule-container.hidden{
    opacity:0;
    transform: translateY(-120vh);
    }

.main-container.schedule-main{

    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    background: #FFFFFF00;

}