:root {
    --color-detectado: #00ff00;
    --color-no-detectado: #e74c3c;
    --color-fondo: #f4f4f4;
    --color-boton: #1336ff;
}

/*Cosas aprobadas*/
:root {
    --primario: #2563eb;
    --oscuro: #1d2026;
    --fondo:#f8fafc;
    --borde: #e2e8f0;
    --letra: #000000;
    --letra2:rgb(25, 0, 255)0;
    --letra3: #ffffff;
    --texto-suave: #64748b;
    --azul: #4169E1;
    --text-dim: #7a8bbf;
    --red: #601ae2;
    }

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', system-ui, Tahoma,sans-serif;
    background-color: #e7e7e7;
    color: var(--letra);
    line-height: 1.6;
    text-align: center;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', system-ui, Tahoma,sans-serif;
}

.oculto { display: none !important; }

video, img, canvas {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la proporción y llena el círculo */
}

#video{
    transform: scaleX(-1);
}
#canvas{
    position: absolute;
    top:0px;
    left: 0px;
}

.logo { display: flex; align-items: center; gap: 10px; text-decoration: none; }
        .logo-img { height: 36px; }
        .nav-menu { list-style: none; display: flex;}

.footer{
    align-content: end;
    margin-top: 20px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffffff;
    bottom: 0%;
    font-size: 1.15rem;
    font-weight: 600;
    }

.lista-integrantes {
    list-style: none;
    padding: 0;
    }

.lista-integrantes li {
    margin-bottom: 8px;
    color: #353535;
    }

.lista-integrantes li a{
    margin-bottom: 8px;
    }

.lista-integrantes li::before {
    content: "▹";
    color: #00FFFF;
    margin-right: 10px;
    }

.navbar {
    position: sticky;
    top: 0;
    z-index: 200;
    background: #fff;
    padding: 0 2rem;
    box-shadow: 0 2px 12px rgba(65,105,225,0.10);
    }

.nav-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    }

.nav-link {
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-dim);
    font-weight: 600;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    position: relative;
    }
.nav-link:hover {
    color: var(--azul);
    transform: translateY(-3px);
    }
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00eeff;
    box-shadow: 0 0 10px #00d9ff; 
    transition: width 0.3s;
    }
.nav-link:hover::after {
    width: 100%;
    }

.nav-menu {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-menu li {
    width:100%;
    margin-left: 40px; /* Más espacio entre opciones */
}

.main-container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }

.btn {
    background-color: #6977a3;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.8);
    height:min-content;
    font-family: 'Segoe UI', system-ui, Tahoma, sans-serif;
    transition: 0.2s all;
    padding: 12px 26px; 
    font-size: 12px; 
    font-weight: bold; 
    border-radius: 50px; 
    text-transform: uppercase; 
    letter-spacing: 1px;
    }

.btn-small{
    font-size: 10px; 
    padding: 9px 19.5px;
    }

.btn:hover {
    background-color: var(--azul);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    transform: translateY(1px);
    }

    .btn-success {
        background-color: #ffffff;
        color: #00ff59;
        }
    .btn-success:hover{
        background-color: #c5ffcd;
        color: #00ff59;
        }

    .btn-disable {
        background-color: #ffffff;
        color: var(--text-dim);
        }
    .btn-disable:hover{
        background-color: #f3f3f3;
        color: var(--text-dim);
        }

    .btn-danger {
        color: #ff0000;
        background-color: #ffc5c5;
        }
    .btn-danger:hover {
        color: #ff0000;
        background-color: #ffc5c5;
        }

    .btn-cancel {
        color: #ff0000;
        background-color: #ffffff;
        }
    .btn-cancel:hover {
        color: #ff0000;
        background-color: #ffc5c5;
        }

    .btn-change {
        background-color: #ffffff;
        color: #ffae00;
        }
    .btn-change:hover {
        background-color: #ffe0c5;
        color: #ffae00;
        }

.section-container{
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    }

.section-container::before {
    content: ''; 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 4px; 
    background: var(--azul); 
    }
        
.footer-logo-div{
   border-radius:15px;
   background-color:#d4d4d400;
   margin:20px 20px;
}

.navBtnDiv{
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    }

.navBtnDiv:hover .nav-link::after {
    width: 100%;
    }  

.navBtnDiv:hover .nav-link{
    color: var(--azul);
    transform: translateY(-3px);
    }

.scroll-area {
    margin-top: 20px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid #ededed19;
    }

.modal-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Negro con 70% de transparencia */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    }


.modal-content {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 700px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

.modal-body {
    display: flex; /* Dividir en dos columnas */
    gap: 30px;
    }
    
.modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-group input { width: 100%; padding: 8px; margin-top: 5px; }

.camera-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #eee;
    overflow: hidden;
    border: 4px solid #3498db;
    position: relative;
}

