:root {
    /*estas son las verdaderas variabkles de estilo unificadas orientadas al colsors*/
    --newfondo:#0f495e;
    --newbarra:linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
    --newletras: #000000;
    --newletrascontraste: #ffffff;
    --newpoligono: linear-gradient(135deg, #ffffff 0%, #b4b4b4 100%);
    --newpanel: linear-gradient(135deg, #ffffff 0%, #b4b4b4 100%);
    --newprima:#00f3ff;
    --newsecu:#1c5ea8;
    --newnucle:#904192AF;

    --newinfo: #00f2ff;
    --newwarn: #f39c12;
    --newerror: #ff0055;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', system-ui, Tahoma,sans-serif;
    background:var(--newfondo);
    color: var(--newletras);
    line-height: 1.6;
    text-align: center;
    min-height: 100%;
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', system-ui, Tahoma,sans-serif;
}
.oculto { display: none !important; }



#video{
    transform: scaleX(-1);
}
#canvas{
    position: absolute;
    top:0px;
    left: 0px;
}

.SecurityHidden{
    display: none !important;
}